{% extends 'base.html' %}
{% load static %}

{% block bodyblock %}
<section style="background: url('{% static 'images/image1.jpeg'%}');height:530px">
    <div class="center-div-login">
        {% include 'navFooter/alert.html'%}
        <h3>Forgot Your Password:</h3>
        <form  action="{% url 'password_reset'%}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="email">Enter Registered Email:</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email"required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send E-mail</button>
        </form>
    </div>
</section>
{% endblock %}
